
body{
  margin: 0px;
  padding: 0px;
  background-color: #2f3640;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items:center;
}

.container{
  width: 350px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  background-image: linear-gradient(white,rgb(0, 200, 255));
}
.input-container{
  width: 100%;
  display: flex;
  align-items: center;
  border: 2px solid purple;
  border-radius: 10px;
}
.city-input{
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 10px ;
  height: 40px;
}

.search-icon{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.search-icon img{
  width: 30px;
  height: 30px;
}
.image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.image img{
  width:170px;
}
.city, .temp, .country{
  display: flex;
  justify-content: center;
  padding: 6px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.city{
  font-size: 30px;
  color:#ffbc00;
}
.country{
  font-size: 20px;
  color: #888;
}

.cord{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cord div span {
  font-size: 14px;
}
.cord div span:nth-child(2){
  font-size: 18px;
  font-weight: bold;
}

.data-container{
  display: flex;
  justify-content: space-between;
}
.element{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.element img{
  width: 80px;
  height:50px;
  margin-bottom: 10px;
}

.copyright{
  text-align: center;
  font-size: 14px;
  color: #3e3d3d;
}
.copyright span{
  color: purple;
  font-weight: bold;
}

.city-not-found, .error-message, .loading-message{
  margin-top: 10px;
  color: #888;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}